{+ directive +} {+ data.alias +} <if test="get_type(data) != 'Namespace '">{+ makeSignature(data.params) +}</if>

<if test="data.params.length">
    <for each="item" in="data.params">
    :param {+ item.type +} {+ item.name +}: 
        {+ item.desc +} <if test="item.defaultValue">(*Default*: {+item.defaultValue+})</if>
    </for>
</if>
<if test="data.exceptions.length">
    <for each="item" in="data.exceptions">
    :throws {+ item.type +}:
        {+ item.name +}: {+ item.desc +}
    </for>
</if>
<if test="data.returns.length">
    <for each="item" in="data.returns">
    :returns {+ item.type +}:
        {+ item.desc +} 
    </for>
</if>